spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  h2:
    console:
      enabled: true
      path: '/h2-console'

output:
  ansi:
    enabled: always

logging:
  patter:
    dateformat: "yyyy-MM-dd HH:mm:ss"

app:
  welcome-message: "Welcome to Spring blog!"